<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.jpg" alt="thapa" title="thapatechnical" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <h1>Welcome to Real time weather-forecasting </h1>
                        <p>Weather forecasting is the application of science and technology to predict the conditions of
                            the atmosphere for a given location and time. People have attempted to predict the weather
                            informally for millennia and formally since the 19th century. Weather forecasts are made by
                            collecting quantitative data about the current state of the atmosphere at a given place and
                            using meteorology to project how the atmosphere will change.

                            Once calculated by hand based mainly upon changes in barometric pressure, current weather
                            conditions, and sky condition or cloud cover, weather forecasting now relies on
                            computer-based models that take many atmospheric factors into account.

                        
                          </p>


                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            copyright &copy; All Rights Reserved  Weather App.
        </p>
    </footer>
</body>

</html>